<div class="container">
    <h2> Ajout d'un employé</h2>
    <form [formGroup]="empForm" (ngSubmit)="onSubmitForm()">
        <div>
            <label> Donnez le matricule</label>
            <input type="number" class="form-control" formControlName="matricule">
        </div>

        <div>
            <label> Donnez le nom</label>
            <input type="text" class="form-control" formControlName="nom">
        </div>

        <div>
            <label> Donnez la fonction</label>
            <select class="form-select" formControlName="fonction">
                <option *ngFor="let c of fonctions " [value]="c">{{c}}</option>
 
            </select>
        </div>

        <div>
            <label> Choisissez le département</label>
            <input type="radio" name="dep" value="IT" formControlName="dep"> IT
            <input type="radio" name="dep" value="Finance" formControlName="dep"> Finance
        </div>

        <button class="btn btn-primary">Ajouter Employé</button>
        <input type="button" class="btn btn-secondary" value="Vider" (click)="Reset()">
    </form>
</div>